[build]
builder = "nixpacks"

[start]
command = "php artisan storage:link && php artisan serve --host 0.0.0.0 --port ${PORT}"

[deploy]
startCommand = "php artisan serve --host=0.0.0.0 --port=${PORT}"